<label>ServerName</label>

<!-- <input type="text" name="serverId" id="serverId" class="form-control" (input)="onUpdateServerName($event)"> -->
<input type="text" class="form-control" [(ngModel)]="ServerName">
<!-- <p>{{ServerName}}</p> -->
<button type="button"
 (click)="onCreateServer()"
  class="btn btn-primary"
   [disabled]="!allowNewServer">Add server</button>
<!-- <p>{{ServerCreationStatus}}</p> -->

<p *ngIf="ServerCreated; else noexist">Server was created! server name is {{ServerName}}</p>
<ng-template #noexist>
   <p>
      No was created!!!
   </p>
</ng-template>
<app-server *ngFor="let server of Servers; let i=index"></app-server>
